<div class="grey lighten-5">
  <div class="navbar-fixed ">
    <nav class="white">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo black-text"><span style="font-family: 'Abril Fatface', cursive; font-size: 28px;
">Medium</span> | <span style="font-size: 24px">Scraper</span></a>
          <ul class="right hide-on-med-and-down">
          <li><a href="/" class="black-text">Home</a></li>
          <li><a  id="saved-articles-btn" class="black-text">Saved Articles</a></li>
          <li><a class="waves-effect waves-light btn" id="scrape-btn">Scrape Articles!</a></li>
          <li><a class="waves-effect waves-light btn" id="clear-all-btn">Clear Articles!</a></li>
        </ul>
        </div>
      </div>

    </nav>
  </div>
  <div class="container-fluid" id="big-div"></div>

<div class="container container-top">
  <div class="row" id="articles-row">
    <div class="col l12">



      {{#each articles}}

      <div class="row" id="row-{{this._id}}">
        <div class="col l12">
          <div class="card light-blue darken-4">
            <div class="card-content white-text">
              <span class="card-title"><a href="{{this.url}}" target="_blank" data-id="{{this._id}}">{{this.headline}}</a></span>
              <p data-id="{{this._id}}">{{this.summary}}</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn" id="save-btn" isSaved={{this.isSaved}} data-id={{this._id}}>Save Article</a>

            </div>
          </div>
        </div>
      </div>
      {{else}}
<div class="row">
    <div class="col l12">
      <div class="card red">
        <div class="card-content white-text">
          <span class="card-title o">Looks like there's no articles</span>
          <p>What would you like to do?</p>
        </div>
        <div class="card-action">
          <a href="" id="scrape-btn">Try scraping articles</a>
          <a href="" id="saved-articles-btn">Go to saved articles</a>
        </div>
      </div>
    </div>
  </div>



      {{/each}}
      