<div class="grey lighten-5">
  <div class="navbar-fixed ">
    <nav class="white">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo black-text"><span style="font-family: 'Abril Fatface', cursive; font-size: 28px;
">Medium</span> | <span style="font-size: 24px">Scraper</span></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class="black-text">Home</a></li>
            <li><a class="waves-effect waves-light btn" id="clear-all-btn">Clear Articles!</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  {{#each savedArticles}}
  {{#if isSaved}}
  <div class="row" id="row-{{this._id}}">
    <div class="col l12">
      <div class="card light-blue darken-4">
        <div class="card-content white-text">
          <span class="card-title"><a href="{{this.url}}" target="_blank"
              data-id="{{this._id}}">{{this.headline}}</a></span>
          <p data-id="{{this._id}}">{{this.summary}}</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn" id="delete-saved" data-id={{this._id}}>delete from saved</a>
          <a class="waves-effect waves-light btn" id="article-notes" data-id={{this._id}}>article notes</a>

        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}